<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<!-- 监控资源文件，如果web.xml改变了，则自动重新加载应用 -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	<!--本地测试项目-->
	<!-- name,指定JNDI名称 -->
	<!-- auth,表示认证方式,一般为Container -->
	<!-- maxActive,连接池支持的最大连接数 -->
	<!-- maxIdle,连接池中最多可空闲连接数 -->
	<!-- maxWait,连接池中连接用完时，新的请求等待时间,单位毫秒 -->
	<!-- username,password,数据库用户名/密码 -->
	<!-- driverClassName,jdbc驱动 -->
	<!-- url,数据库url地址 -->
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/smart" password="admin" type="javax.sql.DataSource" url="jdbc:oracle:thin:@localhost:1521:orcl" username="scott"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/inslocal" password="ayw_ins1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@(DESCRIPTION =        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.61 )(PORT = 1621))        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.62 )(PORT = 1621))        (LOAD_BALANCE = off)        (CONNECT_DATA =          (SERVER = DEDICATED)          (SERVICE_NAME = ossmob_ayw)          (FAILOVER_MODE =            (TYPE = SELECT)            (METHOD = BASIC)            (RETRIES = 30)            (DELAY = 20)          )        ))" username="ins"/>
	<!--生产项目-->
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/ODSO1_208.129" password="B1A_91FCC8" type="javax.sql.DataSource" url="jdbc:oracle:thin:@@(DESCRIPTION =        (ADDRESS_LIST =          (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.46          )(PORT = 1621))          (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.47          )(PORT = 1621))          (LOAD_BALANCE = off)        )        (CONNECT_DATA =          (SERVER = DEDICATED)          (SERVICE_NAME = odsodb_sz)          (FAILOVER_MODE =            (TYPE = SELECT)            (METHOD = BASIC)            (RETRIES = 30)            (DELAY = 20)          )        )      )" username="INTF_112"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/cpflocal" password="cpf_dispatch" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.232.7.51:15211:orcl" username="cpf_dispatch"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/cpfremote" password="cpf_dispatch" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.232.7.51:15211:orcl" username="cpf_dispatch"/>	 
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/cpf83" password="H785553_24" type="javax.sql.DataSource" url="jdbc:oracle:thin:@(DESCRIPTION =         (ADDRESS_LIST =           (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.46            )(PORT = 1621))           (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.47            )(PORT = 1621))           (LOAD_BALANCE = off)         )         (CONNECT_DATA =           (SERVER = DEDICATED)           (SERVICE_NAME = odsodb_sz)           (FAILOVER_MODE =             (TYPE = SELECT)             (METHOD = BASIC)             (RETRIES = 30)             (DELAY = 20)           )         )       )     " username="INTF_ODSB"/>	
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/inslocal" password="ayw_ins1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@(DESCRIPTION =      (ADDRESS_LIST =        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.61)(PORT = 1621))        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.62)(PORT = 1621))        (LOAD_BALANCE = off)      )      (CONNECT_DATA =        (SERVER = DEDICATED)        (SERVICE_NAME = ossmob_ayw)        (FAILOVER_MODE =       (TYPE = SELECT)       (METHOD = BASIC)       (RETRIES = 30)       (DELAY = 20)        )      )       )     " username="ins"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/insremote" password="ayw_ins1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@192.168.109.174:1521:orcl" username="ins"/> 
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/local" password="Oss_pad123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.137:1521:ossmob" username="osspad"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/remote" password="root123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@(DESCRIPTION =      (ADDRESS_LIST =        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.61)(PORT = 1621))        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.62)(PORT = 1621))        (LOAD_BALANCE = off)      )      (CONNECT_DATA =        (SERVER = DEDICATED)        (SERVICE_NAME = ossmob_ayw)        (FAILOVER_MODE =       (TYPE = SELECT)       (METHOD = BASIC)       (RETRIES = 30)       (DELAY = 20)        )      )       )     " username="osspad"/>
    <Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/ossbak" password="SBDA8_82WE" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.68.132:1521:odsorm1" username="RESDEV_WX"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/remote" password="root123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@(DESCRIPTION =      (ADDRESS_LIST =        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.61)(PORT = 1621))        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.62)(PORT = 1621))        (LOAD_BALANCE = off)      )      (CONNECT_DATA =        (SERVER = DEDICATED)        (SERVICE_NAME = ossmob_ayw)        (FAILOVER_MODE =       (TYPE = SELECT)       (METHOD = BASIC)       (RETRIES = 30)       (DELAY = 20)        )      )       )     " username="osspad"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/osspad" password="Oss_pad123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.137:1521:ossmob" username="osspad"/>
	<!-- 13个本地网的数据源-->
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/rescz" password="lHei1_1i" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.196:1521:ossrm21" username="RESCZ_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/resha" password="X8M87_3M" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.195:1521:ossrm21" username="RESHA_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/reslyg" password="JYu7C_0m" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.196:1521:ossrm21" username="RESLYG_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/resnj" password="Qt4E7_2i" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.203:1521:ossrm31" username="RESNJ_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/resnt" password="bsTfTDOh" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.125.132:1521:ossrm11" username="RESNT_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/ressq" password="bt428_8D" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.208:1521:ossrm41" username="RESSQ_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/restz" password="b076Y_8L" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.208:1521:ossrm41" username="RESTZ_PAD"/> 
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/resxz" password="O8P17_4v" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.207:1521:ossrm41" username="RESXZ_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/resyc" password="HdHO6_6q" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.208:1521:ossrm41" username="RESYC_PAD"/> 
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/resyz" password="Jqtb5_8e" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.204:1521:ossrm31" username="RESYZ_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/reszj" password="V8Lsa_7W" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.203:1521:ossrm31" username="RESZJ_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxIdle="4" name="jdbc/reswx" password="koymz_k6" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.196:1521:ossrm22" username="RESWX_PAD"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/ressz" password="H+aM5iuG" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.125.131:1521:ossrm11" username="RESSZ_PAD"/>
	<!-- 南通 -->
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/intf_ossbc" password="intf_bczbiti" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.125.131:1521:ossrm11" username="intf_ossbc"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/pn" password="ayw_JSDX!1" type="javax.sql.DataSource" url="jdbc:oracle:thin:@ (DESCRIPTION =        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.61 )(PORT = 1621))        (ADDRESS = (PROTOCOL = TCP)(HOST = 132.252.7.62 )(PORT = 1621))        (LOAD_BALANCE = off)        (CONNECT_DATA =          (SERVER = DEDICATED)          (SERVICE_NAME = ossmob_ayw)          (FAILOVER_MODE =            (TYPE = SELECT)            (METHOD = BASIC)            (RETRIES = 30)            (DELAY = 20)          )        )      )" username="mobapp"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/szzq" password="szzqdev_123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.24.7:1521:wxdxoss" username="szzqdev"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" maxWait="100000" name="jdbc/collect" password="collect_123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.213.137:1521:ossmob" username="collect"/>
    <Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/local" password="szzqdev_123" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.24.7:1521:wxdxoss" username="szzqdev"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/OSSBC_SZ_NT" password="H74_17C5WE" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.208.129:1521:odso1" username="RESDEV_SZ"/>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100000" maxIdle="4" name="jdbc/ORCL153" password="cs_eoms" type="javax.sql.DataSource" url="jdbc:oracle:thin:@132.228.165.153:1521:orcl" username="cs_eoms"/>
</Context>