@charset "utf-8";

body {
	font-size: 10pt;
	font-family: 微软雅黑;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin: 0 auto;
	background-color: #ededed;
}

.header {
	height: 51px;
	background-color: white;
	padding-top: 13px;
	width: 100%;
}

.logo-zone {
	height: 100%;
	width: 1005px;
	margin: auto auto;
}

.logo {
	height: 44px;
	width: 355px;
	background-image: url("../../../images/new/login_jsp_logo.png");
	float: left;
}

.middle {
	height: 440px;
	background-color: #f9f9f9;
	width: 100%;
}

.login-info {
	position: relative;
	height: 481px;
	width: 100%;
	overflow: hidden;
}

.login-info-background-back {
	z-index: 1;
	height: 440px;
	width: 2568px;
	left: 50%;
	margin-left: -1284px;
	position: absolute;
	background-image: url("../../../images/new/_0025_bg_banner.jpg");
	background-position: 20px 0px;
}

.login-info-background {
	z-index: 999;
	position: absolute;
	width: 1258px;
	left: 50%;
	margin-left: -629px;
	height: 440px;
	background-color: transparent;
	background-image: url("../../../images/new/_0017_pic_banner(1).png");
	background-position: 125px 56px;
	background-repeat: no-repeat;
}

.more-info {
	position: absolute;
	margin-left: 125px;
	margin-top: 169px;
	width: 128px;
	height: 34px;
	cursor: pointer;
	background-image: url("../../../images/new/_0008_btn_know_normal.png");
}

.more-info:HOVER {
	background-image: url("../../../images/new/_0007_btn_know_pressed.png");
}

.download {
	position: absolute;
	margin-left: 272px;
	margin-top: 344px;
	width: 78px;
	height: 30px;
	cursor: pointer;
	background-image: url("../../../images/new/_0006_btn1_click_normal.png");
}

.download:HOVER {
	background-image:
		url("../../../images/new/_0005_btn1_click_pressed.png");
}

.login-info-input {
	text-align: center;
	height: 293px;
	width: 286px;
	background-color: transparent;
	float: right;
	margin-top: 57px;
	margin-right: 151px;
}

.login-title {
	height: 40px;
	width: 224px;
	margin: auto auto;
}

.span-login-title {
	float: left;
	padding-top: 20px;
	color: white;
	font-size: 17px;
}

.login-table tr {
	height: 50px;
}

.empty-info {
	margin-top: 5px;
	margin-left: 10px;
	border: 0px solid;
	background-color: transparent;
	position: absolute;
	font-size: 15px;
	color: #bbbbbb;
}

.login-text-bg {
	height: 37px;
	width: 224px;
	background-image: url("../../../images/new/_0015_input.png");
	padding-top: 10px;
	margin: auto auto;
	margin-top: 17px;
}

.login-text {
	font-size: 20px;
	border: 0px solid;
	width: 222px;
	outline: none;
}

.login-forgot-password {
	height: 30px;
	width: 224px;
	margin: auto auto;
}

.btn-forgot-password {
	margin-top: 10px;
	cursor: pointer;
	border: 0px solid;
	width: 67px;
	height: 14px;
	background-color: transparent;
	background-image: url("../../../images/new/_0011_忘记密码？.png");
	float: right;
}

.login-err-msg {
	height: 26px;
	padding-top: 5px;
	width: 100%;
	font-size: 15px;
	color: yellow;
}

.login-button-zone {
	background-color: transparent;
	height: 37px;
}

.btn-login {
	width: 224px;
	height: 37px;
	cursor: pointer;
	border: 0px solid;
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-image: url("../../../images/new/_0010_btn_login_normal.png");
}

.btn-login:ACTIVE {
	background-image: url("../../../images/new/_0009_btn_login_pressed.png");
}

.btn-cancel {
	width: 110px;
	height: 38px;
	cursor: pointer;
	border: 0px solid;
	font-weight: 700;
	font-size: 14px;
	color: #6d798c;
	border-radius: 3px;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: -117px -208px;
	background-color: transparent;
}

.btn-cancel :LINK {
	background-position: -117px -208px;
}

.btn-cancel:HOVER {
	background-position: -117px -256px;
}

.btn-cancel:ACTIVE {
	background-position: -117px -304px;
}

.btn-login-disabled {
	background-image: url("../../../images/new/_0023_btn_login_gray.png");
}

.bottom {
	height: 20px;
	background-color: #ededed;
}

.bottom-background {
	width: 100%;
	height: 206px;
	background-image: url("../../../images/new/_0022_bg_bottom.png");
	background-repeat: repeat-x;
}

.bottom-download {
	position: absolute;
	width: 64px;
	height: 24px;
	cursor: pointer;
	background-image: url("../../../images/new/_0020_btn2_click_normal.png");
	height: 24px;
}

.bottom-download:HOVER {
	background-image:
		url("../../../images/new/_0018_btn2_click_pressed.png");
}

.bottom-download-sjxj {
	margin-left: 72px;
	margin-top: 73px;
}

.bottom-download-zwsx {
	margin-left: 408px;
	margin-top: 73px;
}

.bottom-download-yszk {
	margin-left: 745px;
	margin-top: 73px;
}

.bottom-background-inner {
	width: 1002px;
	height: 206px;
	margin: auto auto;
	background-image: url("../../../images/new/_0021_pic_bottom.png");
}